      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/css/form-elements.css">
      <link rel="stylesheet" href="assets/css/style.css">
      <h2 class="page-header">Login</h2>
      <form>
        <div class="form-group">
<!--           <label><span><i class="glyphicon glyphicon-user"></i></span>&nbsp;&nbsp;Username or Email</label>
          <input type="text" class="form-control" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <label><span><i class="glyphicon glyphicon-lock"></i></span>&nbsp;&nbsp;Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password">
        </div> -->
      <md-input-container style="width: 100%;">
        <input mdInput placeholder='Username or Email' [formControl]="usernameFormControl" [(ngModel)]="username" name="username">
        <md-error *ngIf="usernameFormControl.hasError('required')">
            Username or Email is <strong>required</strong>
        </md-error>
      </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container style="width: 100%;">
            <input mdInput placeholder='Password'  [formControl]="passwordFormControl" [(ngModel)]="password" name="password">
            <md-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <h3>Or login with</h3>
        <div class="row">
          &nbsp;
          <a class="btn btn-link-1 btn-link-1-facebook" (click)="onLoginFacebook()">
            <i class="fa fa-facebook"></i> Facebook
          </a>
          <a class="btn btn-link-1 btn-link-1-google-plus" (click)="onLoginGoogle()">
            <i class="fa fa-google-plus"></i> Google Plus
          </a>

        </div>
        <label class="col-sm-11"></label><input type="submit" class="btn btn-primary w3-round-large" value="Login" (click)="onLoginSubmit()">

      </form>